.catalogo {
    h2.tituloSeccion {
            font-weight: 700;
            margin-top: 30px;
        }

        .producto-card {
            background: #fff;
            border-radius: 12px;
            overflow: visible;
            transition: transform .2s ease, box-shadow .2s ease;
        }

        .producto-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
        }


        .green-btn {
            background-color: #398b3b;
            color: white;
        }

        .green-btn:hover {
            background-color: #2f7131;
        }
}

.img-catalogo {
  width: 100%;
  height: 100%;
  overflow: visible; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent; 
  line-height: 0;
  padding: 0;
}

.img-catalogo img {
  display: block;  
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  line-height: 0;
  margin: 0;
  border: none !important;

}

.img-catalogo img:hover {
  transform: scale(1.4) translateY(-10px);
  z-index: 10;
}