/*Estilos de contacto y acerca de nosotros*/
 #formContacto {
    .btnEnviar{
        background-color: #e58f7a !important;
        color: black;
    }
    #btnEnviarForm.btnEnviar:hover{
        background-color: #4CAF50 !important;

    }
    .errorValid{
        color: red;
    }
    button:disabled{
        background-color: gray!important;
    }
    .form-label{
        font-weight: 600;
    }
}

.accordion-button:not(.collapsed) {
    background-color: #F5EBDC !important;
    color: black !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.accordion-button{
  font-weight: 600;
}

.imagenpoliticas{
  display: flex;
  justify-content: center;
}

.btnAceptar{
  background-color: #D4AF37;
}

.btnAceptar:hover{
  background-color:#4CAF50;
}

h4{
  font-weight: 800;
  background-color:#f1ddbf;
}