:root {
    /* Paleta de Colores definida */
    --color-fondo: #F5EBDC;       /* Beige claro */
    --color-texto: #3E2723;    
    --color-cafe: #4E342E;  /* Marrón oscuro (Café) */
    --color-primario: #1B5E20;    /* Verde Bosque (Botones principales, Footer oscuro) */
    --color-secundario: #4CAF50;  /* Verde Hoja (Detalles, hover) */
    --color-blanco: #ffffff;
    --hover-dorado: #D4AF37; 
    --color-blancoHueso: #FAF8F3;      /*hover cuando el fondo es verde */
    
    /* Variables de Bootstrap redefinidas */
    --bs-body-bg: var(--color-fondo);
    --bs-body-color: var(--color-texto);
    --bs-font-sans-serif: 'Poppins', sans-serif;
    --bs-primary: var(--color-primario);
    --bs-success: var(--color-secundario);
    --bs-hover: var(--hover-dorado);
    --bs-blancoHueso: var(--color-blancoHueso);
    --bs-cafe: var(--color-cafe);
   
    
    /* Configuración de bordes */
    --radio-borde: 8px; /* Redondeado suave de las imágenes */
}

/*Estilos de contacto y acerca de nosotros*/
 #formContacto {
  background: #b8a99e;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);

    .btnEnviar{
    background-color: var(--color-cafe) !important;
    color: #faf8f3ba!important;
    }

    #btnEnviarForm.btnEnviar:hover{
        background-color: var(--color-texto) !important;

    }
    .errorValid{
        color: red;
    }
    button:disabled{
        background-color: gray!important;
    }
    .form-label{
        font-weight: 600;
    }
}

.accordion-button:not(.collapsed) {
    background-color: #F5EBDC !important;
    color: black !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.accordion-button{
  font-weight: 600;
}

.imagenpoliticas{
  display: flex;
  justify-content: center;
}

.btnAceptar{
  background-color: #3E2723;
  color: #ffffff;
  font-weight: 20px;
  padding: 10px 40px;
  border-radius: 10px;
}

.btnAceptar:hover{
  background-color:#4CAF50;
}

h4{
  font-weight: 800;
  
}

 #preguntasFrecuentes {
  background: transparent !important;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
 }